

body{
    margin: 0;
    padding: 0;  
    overflow: hidden;
    
}

.background{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(60%);  
}

.logo {
    left: 5px;
    position: absolute;
    filter: brightness(2);
    width: 230px;
    z-index: 1000;
}



.menu-bar {
    position: absolute;
    top: -90px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap:20px;  
    transform: scale(0.7);
}

.menu{
    margin-top: 90px;
}
.menu2 img {
    margin-top: 30px;
    width: 110px; 
    height: 120px; 
}
.setting{
    margin-top: 600px;
}

p{
    line-height: 1.3;
    text-align: left;
    text-align: justify;
    position: absolute;  
    top: 470px;  
    left: 50%; 
    transform: translate(-50%, -80%);  
    color: white;  
    font-size: 30px; 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
}

h2{
    text-align: left;
    position: absolute;  
    top: 260px;  
    left: 30%; 
    transform: translate(-50%, -50%);  
    color: white;  
    font-size: 50px; 
    font-weight: bold; 
    font-family: 'Inter', sans-serif; 
}

button{     
    border: none;
    outline: none;
    padding: 10px;
    align-items: center;
    gap: 5px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: red;
    height: 58px;
    width: 210px;
    border-radius: 30px;
    position: absolute;  
    top: 580px;  
    left: 25%; 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
}
.bookmark{
    width: 50px;
    position: absolute;  
    top: 560px;  
    left: 37%;  
    z-index: 1000;
    transform: scale(0.6);
}

.star{
    width: 50px;
    position: absolute;  
    top: 560px;  
    left: 41%; 
    z-index: 1000;
    transform: scale(0.6);
}
button img{
    width: 60px; 
    height: auto;
}
a{
    justify-content: center;
    display: flex;
    align-items: center;
}
.xemngay{
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Inter', sans-serif; 
}